<div class="hero-header">
  <div class="main-text">Pair BnB</div>
  <div class="sub-text">A place to find your next home</div>
</div>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @listings.each do |listing| %>
    <li>
      <h3>
        <%= link_to listing.name, controller: "listings", action: "show", id: listing._id%>
      </h3>
    </li>
  <% end %>
</ul>