<nav class="menu">
  <ul class="active">
    
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Login", "/sign_in" %></li>
    <li id="signup"><%= link_to "Signup", "/sign_up" %></li>
    <li><%= link_to "Listings", "/listings" %></li></div>
    <li><%= link_to "Create New Listing", "/listings/new" %></li></div>
    
    
  </ul>
</nav>